@media (min-width: 900px){
    .locationHeading {
        z-index: 20;
        height:100%; 
        width:100%; 
        vertical-align:middle; 
        position:absolute;
        padding-top:30%;
        padding-left:10%;
        font-size:40pt;
        background-color:transparent;
        font-family: 'Poppins', sans-serif;
        /*border:solid blue 2px;*/
    }

    .locationHeading:hover{
        padding-bottom:50%;
        padding-top:15%;
        height:500px;
        transition:0.5s all ease;
        background-color:transparent;
        transform:translateY(-50px);
    }

    .locationHeading:hover + .supportText{
        display:block;
    }

    .supportText{
        font-size:18pt;
        padding-top:6em;
        line-height: 1.3em;
        padding-left:10%;
        padding-right:10%;
        font-family: 'League Spartan', sans-serif;
        height:100%;

        display:none;
    }

    .subheading{
        font-size:18pt;
        background-color:transparent;
        font-family: 'Poppins', sans-serif;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(430px,auto);
        grid-gap: 0.8em;
        margin:3em;
    }

    h1{
        font-size:120px;
        color:white;
        letter-spacing:0.1em;
        font-family: 'Poppins', sans-serif;
    }

    .box1{
        display:flex;
        justify-content: center;
        align-items:center;
        text-align: center;
        height:700px;
        grid-column: 1/4;
        background-size:cover;
        position:relative;
        margin-bottom:40px;
    }

    .box2{
        grid-column: 1/3;
        background-size:cover;
        background-position-y: center;
        position:relative;

    }
    .box5{
        grid-column: 2/4;
        background-size:cover;
        background-position-y: center;
        position:relative;
    }
    .box6{
        grid-column: 1/3;
        background-size:cover;
        background-position-y: center;
    }
    .box3,.box4,.box7 {
        background-color:#e5e0db;
        position:relative;
    }

}

@media (max-width: 900px){
    .container{
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: minmax(400px,auto);
        grid-gap: 0.5em;
    }
    .container div:nth-child(odd){
        background-color: #ddd;
    } 

    .container div:nth-child(even){
        background-color: #bbb;
    } 

    .box1{
        height: 700px;
    }
}
.footer{
    background-color: #ccc;
    margin-top: 10px;
}


/* JYL Styles Above*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
   list-style-type: none;
}

a{
    text-decoration: none;
}

hr{
    width: 60%;
    margin-bottom:-50px;
}

.navbar{
    z-index: 30;
    width: 100%;
    height:70px;
    display:flex;		
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
}

.logo{
    width: 200px;
    height: 50px;
    padding: 10px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image:url('logo.png') ;
    background-size:cover;
    border:none;
}

.logo:hover{
    cursor: pointer;
}


.navbar-text a{
    font-size:18px;
    margin:0 25px;
    padding:0 20px;
    overflow: hidden;
}
.navbar-text a:hover{
    border-bottom: 1px solid black;
}

.hamburger{
    margin-right: 20px;
    display: none;
}
.bar{
    border: 1px black solid;
    width: 22px;
    height: 2px;
    margin-top: 5px;
}

@media (min-width: 900px){	
    .showcase{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows:minmax(400px,auto)
    }	
    .showcase div{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .showcase i{
        margin-top: 20px;
    }

    .showcase p{
        margin-top:20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
    }

    .navbar-text ul{
        display:flex;
        margin-left: 80px;		
        font-weight:bold;
        font-family:'Source Sans Pro', sans-serif;
    }
}

@media (max-width: 900px){
    .showcase{
        display:grid;
        grid-template-columns: 2fr;
        grid-auto-rows:minmax(200px,auto)
    }	
    .showcase div{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .showcase i{
        margin-top: 20px;
    }
    .showcase p{
        margin-top:20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
    }
    .logo{
        margin-left:168%;
    }

    .navbar{
        z-index: 20;
    }

    .navbar-text.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top:70px;
        height:200px;
        transform:scale(1);
        transition: all 0.2s ease;
    }

    .navbar-text{
        width: 100%;
        background-color: rgba(78, 71, 71, 0.5);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top:4.35em;
        transform:scale(0);
        height:0px;
    }
    .navbar-text li{
        margin-top:18px;
        margin-bottom: 18px;
        font-family:'Source Sans Pro', sans-serif;
    }

    .navbar-text a{
        font-size: 20px;
    }
    .navbar-text a:hover{
        border-bottom: 1px white solid;
    }

    .navbar-text li a{
        color:white;
    }

    .hamburger{
        display: block;
    }

    .hamburger:hover{
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

}
